body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(224, 12, 207) 0%, rgb(12, 223, 145) 46%, rgba(0,212,255,1) 80%);
}
nav{
background: rgba(38, 45, 123, 0.59);
position: fixed;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
}
.card:hover{
    box-shadow: rgba(0, 140, 255, 0.719) 0px 54px 55px, rgba(241, 13, 13, 0.596) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
table{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}